<form [formGroup]="form" (ngSubmit)="enviar()">
  <input type="text" formControlName="username" />

  @if (form.get('username')?.invalid && form.get('username')?.touched) {
  <p>Nombre obligatorio</p>
  }

  <input type="email" formControlName="email" />

  @if (form.get('email')?.invalid && form.get('email')?.touched) {
  <p>Email invalido</p>
  }

  <input type="password" formControlName="password" />
  @if (form.get('password')?.invalid && form.get('password')?.touched) {
  <p>La edad debe ser mayor a 18</p>
  }

  <button type="submit">Enviar</button>
</form>

<ul>
  @for (usuario of usuarios; track usuario.email) {
  <li>{{ usuario.email }}</li>
  }
</ul>